@model IEnumerable<Product>

<div class="my-5">
    <h1 class="mb-5">Type the Book you want to search for</h1>
    <form method="get" asp-area="Customer" asp-controller="Home" asp-action="Search">
        <div>
            <input type="text" name="searchQuery" aria-label="Search" value="@ViewBag.search" class="form-control-sm" />
            <button type="submit" class="btn btn-secondary">Search</button>
        </div>
    </form>
</div>

<partial name="_HomepageImages" />
 